<?php

declare(strict_types=1);

/**
 * PHPStan configuration
 */

$config = [];
$config['level'] = 8;
$config['paths'] = [
    'app',
];
$config['excludePaths'] = [
    'vendor',
];
$config['checkMissingIterableValueType'] = false;

return $config;
